/* 
May need to adjust for use with other pages besides home (including rename).
*/

body {
  font-family: "Cambria Math", Cambria, "Times New Roman", serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  color: white;
}

.header-left,
.header-right {
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo {
  height: 80px;
  width: auto;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 2.2rem;

  a {
    color: #1b5e20;
    text-decoration: none;
    font-weight: bold;

    a:hover {
      color:#3cb5b7;
      }
    }

  p {
    color: #1b5e20;
    font-weight: bold;
    margin: 0;
  }
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: #1b5e20;
  color: white;
  
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    }
}

.section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.cards-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.cards-articles {
  gap: 10px;
  display: grid;

  .card {
    display: flex;
    flex-direction: row;
  }

  .card-thumb {
    height: 80px;
    width: 160px;
    object-fit: cover;
    border-radius: 6px;
    flex-shrink: 0;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 6px 0;
  }

  .card-description {
    font-size: 14px;
    color: #555;
    margin: 0;
  }
}

.card {
  display: block;
  border: 2px solid #1b5e20;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(2, 57, 6, 0.5);

  text-decoration: none;
  color: black;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 4px 8px rgba(2, 57, 6, 0.9);
    cursor: pointer;
  }
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1b5e20;
  color: white;
}

.article-section {
  max-width: 800px;
  margin: auto;
  padding-top: 20px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.article-citations {
  max-width: 800px;
  padding-top: 20px;
  margin: auto;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    }

  p {
    font-size: 1rem;
    line-height: 1.4;
  }
}

.article-banner {
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
figcaption {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    margin-top: 5px;
  }